<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="margin-top: 30px;">
  <p>This is just a test, so far!</p>
  {% if error %}
    <p style="color: red;">Please submit a search term.</p>
  {% endif %}
</div>

<div style="padding-bottom: 80px;">
  <h2>Search components</h2>
  <p>Run a full-text search to find software.</p>

  <form action="" method="post" name="search" class="navbar-form navbar-left">
    {{sform.hidden_tag()}}
    <div class="form-group">
      <input name="search-text" value="" type="text" class="form-control" style="width: 400px;" placeholder="video player">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<div style="padding-bottom: 80px;">
  <h2>Find components by provided functionality</h2>
  <p>Search components by a public interface they provide.</p>

  <form action="/provides/" method="get" name="find_item" class="navbar-form navbar-left">
    <div class="form-group" style="width: 400px;">
      <div class="controls">
        <select name="type" class="input-medium" style="float: left; margin-right: 6px;">
          <option value="mimetype" selected>Mimetype</option>
          <option value="lib">Library</option>
          <option value="bin">Binary</option>
          <option value="python2">Python-2 module</option>
          <option value="python3">Python-3 module</option>
        </select>
      </div>
      <input type="text" name="q" style="width: 260px;" class="form-control" placeholder="libfoo.so.4">
    </div>
    <button type="submit" class="btn btn-primary">Go</button>
  </form>
</div>

<div style="padding-bottom: 60px;">
  <h2>Seach for AppStream Identifiers</h2>
  <p>Jump to the software component with the given identifier.</p>

  <form action="/get/" method="get" name="find_id" class="navbar-form navbar-left">
    <div class="form-group">
      <input type="text" name="id" class="form-control" placeholder="app.desktop">
    </div>
    <button type="submit" class="btn btn-primary">Go</button>
  </form>
</div>

{% endblock %}
